*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    /* background-color: #040404; */
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .main{
    width: 435px;
    height: 550px;
    background-color: rgb(8, 8, 8);
    position: absolute;
    border: 5px solid black;
    border-radius: 12px 15px; 


    
 }
 h1{
    text-align: center;
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 100px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 44px;
   background-color: rgb(240, 240, 245);
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
    background-color: #363535;
    border-radius: 6px;
    color: white;
 }
 .btn input[type='button']:hover{
    background-color: black;
    color: white;
 }